version: '3.8'
services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"

  #  akhq:
  #    image: tchiotludo/akhq
  #    environment:
  #      AKHQ_CONFIGURATION: |
  #        akhq:
  #          server:
  #            access-log: false
  #            base-path: /
  #            listen: 0.0.0.0:8080
  #          security:
  #            default-group: admin
  #          connections:
  #            kafka:
  #              properties:
  #                bootstrap.servers: "kafka:9092"
  #    ports:
  #      - "8080:8080"
  #    depends_on:
  #      - kafka

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pazzword
      POSTGRES_DB: user_context
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  vault:
    image: hashicorp/vault:latest
    ports:
      - "8201:8201"
    environment:
      # Vault will load this inline configuration on startup.
      VAULT_LOCAL_CONFIG: |
        {
          "listener": [{
            "tcp": {
              "address": "0.0.0.0:8201",
              "tls_disable": 1
            }
          }],
          "storage": {
            "file": {
              "path": "/vault/file"
            }
          },
          "disable_mlock": true,
          "ui": true
        }
    volumes:
      - vault_data:/vault/file
    cap_add:
      - IPC_LOCK

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"  # API port
      - "9001:9001"  # Console port
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

volumes:
  postgres_data:
  vault_data:
  minio_data: